body{
    height: 100%;
    background-image: url(photo/code.gif);
}
header{
    background-color: grey;
    margin-left: 5em;
    margin-right: 5em;
}
#navheader{
    display: flex;
    flex-direction: row;
}
#ulheader{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 2em;

}
.liheader{
    list-style:none;
    text-decoration: none;
    border: solid;
    border-radius: 2em;
    background-image: url(photo/images.jfif);
}
#titre {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#titre1{
    font-family: 'Estonia', cursive;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    text-shadow: 2px 2px 4px royalblue;
    background-image: url(photo/images.jfif);
    border-radius: 1em;

}
a{
    text-decoration: none;
    /* color: black; */
}
#mainco{
    height: 100%;
    background-color: black;
    margin: 5em;
    padding: 5em;
    margin-left: 5em;
    margin-right: 5em;
}
#formco{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gray;
}
#divco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30em;
    justify-items: center;
}
.w{
    display: flex;
    font-size: 1.5em;
}
#navfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: grey;
    margin-left: 5em;
    margin-right: 5em;   
}
 #ulfooter1{ 
    display: flex;
    flex-direction: column;
    list-style:none;
    text-decoration: none;
}
#ulfooter2{
    display: flex;
    flex-direction: column;

    list-style:none;
    text-decoration: none;
}
#ulfooter3{
    display: flex;
    flex-direction: column;
}
#socialfooter{
    display: flex;
    list-style:none;
    text-decoration: none;
    flex-direction: column;
} 
#h2contactfooter1{
    width: 100%;
    font-size: 30px;
}
#h2contactfooter2{
    width: 100%;
    font-size: 30px;
}
#h2contactfooter3{
    width: 100%;
    font-size: 30px;
}
.footerlogo{
    width: 2em;
    height: 2em;
}
.afooter{
    list-style:none;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
